.login{
    background-image:  url('../img/fondo.jpg');
    background-size: 100% 100%;
    min-height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px + 2vmin;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

<<<<<<< HEAD
.Contenido{
    background-image:  url('../img/fondo.jpg');
    background-size: 100% 100%;
    min-height: 100vmin;
=======
.Registro{
    background-image:  url('../img/fondo.jpg');
    background-size: 100% 100%;
    min-height: 114vmin;
>>>>>>> 4204c68d46b55d81a74f0a910d93815c2ce8e7a5
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px + 2vmin;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

<<<<<<< HEAD
}

.Informe{
    background-image:  url('../img/fondo.jpg');
    background-size: 100% 100%;
    min-height: 100vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px + 2vmin;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
=======
}
>>>>>>> 4204c68d46b55d81a74f0a910d93815c2ce8e7a5
