.cuadro-informe {
    height: 500px;
    width: 400px;
    
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'calibri';
    color: black;
}
.informe-logo {
    height: 150px;
    width: 230px;

    transform: translateX(35%) translateY(20%);
   
}
.title-info{
    
    

    transform: translateX(40%) ;

}

.col{
    
    padding:  50px 10px;
    text-align: justify;
}
